:{$PORT}

(backend_proxy) {
    reverse_proxy {$BACKEND_URL} {
        header_up X-Forwarded-Proto https
    }
}

handle /api/* {
    import backend_proxy
}
handle /login/* {
    import backend_proxy
}
handle /authorize/* {
    import backend_proxy
}
handle /logout {
    import backend_proxy
}
handle /download/* {
    import backend_proxy
}

handle {
    root * /app/dist
    try_files {path} /index.html
    file_server
}
